.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
D:/Files/bTB_breakdown_trends_paper/data/
.Rdata
.httr-oauth
.DS_Store
.quarto
_book/
/breakdown_page_files/
/publications_files/
/sictt_test_types_files/
/time_series_files/
/timeline_policy_files/
/agg_cases_poisson_NB_model_files/
/breakdown_page_files/
/case_numbers_files/
/demographics_files/
/lesion_prevalence_trends_files/
/reactor_lesion_skin_gif_seperately_files/
/summary_page_files/


